.byline {
  margin-bottom: var(--spacing-m);
}

.byline-name {
  font-size: var(--font-size-h4);
  color: var(--color-text);
  margin: 0;
}

.byline-role {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--color-text-muted);
  margin: 0;
}
